{% extends "layout.html" %}


{% block content %}
	<div class='container'>
		<form method='POST' action=""> <!-- action= when we post go back to same route-->
			{{ form.hidden_tag() }} <!-- part of protection -->
			<fieldset class="form-group">
				<legend>Registrar Usuario</legend>
				<div class="form-group" autofocus>
					<!-- boottrap  -->
					{{ form.username.label(class="form-control-label") }}
					{{ form.username(class="form-control form-control-lg") }}
				</div>
				<div class="form-group">
					<!-- boottrap  -->
					{{ form.email.label(class="form-control-label") }}
					{{ form.email(class="form-control form-control-lg") }}
				</div>
				<div class="form-group">
					<!-- boottrap  -->
					{{ form.password.label(class="form-control-label") }}
					{{ form.password(class="form-control form-control-lg") }}
				</div>
				<div class="form-group">
					<!-- boottrap  -->
					{{ form.confirm_password.label(class="form-control-label") }}
					{{ form.confirm_password(class="form-control form-control-lg") }}
				</div>
			</fieldset>
			<div class="form-group">
				<!-- boottrap for the submit button  -->
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
	<div class="border-top pt-3">
		<small class="text-muted">
			¿Ya está registrado? <a class="ml-2" href="{{ url_for('login') }}">Iniciar Sesión</a> <!-- nombre de la funcion-->
		</small>

	</div>
	
{% endblock content %}